<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= current_page.data.title || "Title" %></title>

  <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "modernizr" %>
</head>
<body>
  <%= partial "navigation" %>
  <%= partial "header" %>

  <%= yield %>

  <%= partial "footer" %>
</body>
</html>
